<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transition Images</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="controls">
        <input type="number" id="gridSize" min="2" max="10" value="4" placeholder="Input gridSize(N)">
        <button id="loadImage">Load Image</button>
        <input type="file" id="imageUpload" accept="image/*" hidden>
        <div id="imageContainer"></div>
    </div>
    

    <script src="script.js"></script>
</body>
</html>