<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loading screen</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="Loader-container">
        <div id="Loader">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
        <h1 class="loader-text">Loading...</h1>
    </div>
</body>
</html>